//box shadow
$box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 20px;
$box_border_color: grey;

//navigation colors
$nav-color: rgb(61, 61, 61);
$nav-highlighted-color: rgb(27, 27, 27);
$nav-light-color: rgb(241, 241, 241);

//colors
$dark-color: rgb(38, 38, 74);
$medium-color: 0;
$light-color: 0;

//link colors
$p_color: #000;
$h_color: #336;
$a_color: rgb(38, 38, 74);
$a_hover_color: #f00;
$a_click_color: rgb(38, 38, 74);

$footer_color: aliceblue;

$line_duration: 1s;
$image_duration: 0.5s;


@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}

//image-button
%image-button {
    position: relative;
    display: inline-block;

    box-shadow: $box-shadow;
    transition: opacity 0.15s ease-in-out;

    border-radius: 50%;
    border: 2px solid grey;
    border-radius: 50%;

    background: url(page_elements/github.png);
    background-color: aliceblue;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    // outline: 1px dotted red;
}
%image-button:hover{
    opacity: 1;
}