#HKU{
    outline: 5px solid black;
    .subject {

        .subjectHeader {
            background: grey;
            h3{

            }
        }
        .subjectLink {
            outline: 5px dotted black;
            width: 50%;
            text-align: left;
            a{

            }
            p{

            }
        }
    }
}
