@import 'data';
html, body{
    height: 100%;
    margin: 0;
}

@font-face {
  font-family: 'MyWebFont';
  src: url("fonts/earthorbiterbold.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */ }

@font-face {
  font-family: 'CodeFont';
  src: url("fonts/JosefinSans-Bold.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */ }

body {
    height: auto;
    color: $p_color;
    font-size: 13pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
    background-color: #fff;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(rgba(78, 223, 218, 0.5), rgba(51, 0, 85, 0.5)), url(page_elements/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    p {
        color: $p_color;
        font-size: 11pt;
    }

    H1 {
        font-weight: bold;
        font-size: 18pt;
        text-align: center;
        color: $dark-color;
    }

    H2 {
        font-weight: bold;
        font-size: 16pt;
        text-align: center;
        color: $dark-color;
    }

    H3 {
        font-weight: bold;
        font-size: 15pt;
        color: $h_color;
    }

    a:link {
        // color: #336;
        text-decoration: none
    }

    //a:visited { color: #f00; text-decoration: none }
    a:hover {
        color: $a_hover_color;
        text-decoration: none
    }

    #wrapper {
        width: 100%;
        min-height: calc(100vh - 50px);
        float: left;
        padding-bottom: 70px;

        #styleButton {
            display:none;
            position: absolute;
            border: none;
            background: aliceblue;
            // border: 5px solid black;
            right: 0;
            margin: 10px;
            box-shadow: $box-shadow;
            z-index: 10;
        }
        @import 'frontPage'; //frontpage element


        .content {
            //position: relative;
            box-shadow: $box-shadow;
            border: 2px solid $box_border_color;
            width: auto;
            height: auto;
            //max-width: 90%;
            margin: 0 5%; //padding: 50px;
            background: rgba(255, 255, 255, 0.8);

            text-align: center;
            align-content: center;
            width: 90%;
            float: left;
            // overflow: hidden; //calculates float left childrens height

            @import 'slider'; //slider element
            @import 'projectInfo'; //project info
            @import 'about'; //about page
            @import 'hku'; //hku page 
            @import 'contact'; //contact page 
            @import 'projects' //projects page... sort of, only tiles
        }

        #about {
            display: none;
        }

        #contact {
            display: none;
        }

        #projecten {
            display: none;
        }

        #HKU {
            display: none;
        }

        #projectinfo {
            display: none;
        }

        #about:target {
            display: block;
        }

        #contact:target {
            display: block;
        }

        #projecten:target {
            display: block;
        }

        #HKU:target {
            display: block;
        }
    }
    footer {

        float: left;
        width: 100%;
        font-size: 8pt;
        // margin-top: 50px;
        height: 50px;
        margin-top: -50px;
        font-size: .7em;
        
        text-align: center;
        background-color: $footer_color;

        p {
            display: inline;
            font-size: 1.1em;
        }
    }
    .hide {
        display: none;
    }

}
@media screen and (orientation: portrait) and (max-width:992px){
    @import 'mobile';
}